.hero-container {
  background: url("/images/virus-4030721.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

#about {
  /* height: 600px; */
  height: auto;
  width: 100%;
  background-color: rgb(13, 12, 12);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.box{
  width: 20%;
  height: 200px;
  padding: 1%;
  color: #fff;
  /* border: 2px solid white; */
} 
.para{
  text-align: left;
  padding-top: 14px;
  font-size: 17px;
  color: #fff;
  justify-content: start;
}
h3{
  padding-bottom: 10px;
}
a {
  color: #fff;
  text-decoration: none;
}
.verticalLine{
  margin-top: 30px;
  height: 150px;
  border: 1px solid hsla(0,0%,100%,.5);
  box-shadow: rgb(255, 255, 255) 0px 7px 50px 0px;
  /* display: none; */
}
@media screen and (max-width:1200px) {
  .box{
    width: 40%;
  }
  .verticalLine{
    display: none;
  }
}
@media screen and (max-width:600px) {
  .box{
    width: 90%;
  }
  .verticalLine{
    display: none;
  }
}