.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80vw;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: azure;
  border-radius: 2rem;
}

.prodname {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.prodprice {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
  gap: 5rem;
}

.placeorder {
  margin: 3rem;
}
